body {
	background-repeat: no-repeat;
	background-size: 100%; 
	background-image:url('http://www.pptbackgrounds.net/uploads/dark-blue-background-backgrounds-wallpapers.jpg');
}
div {
	margin: 0 auto;
	border: 1px solid black;
	border-radius: 20px;
	padding: 20px;
	height: auto;
	color: #FFB$00;
}

#nav {
	text-align: center;
}

#nav li {
	font-family: Garamond bold;
	font-size: 25px;
	display: inline;
	list-style: none;
	padding: 30px;
	height: 100px;
}

#main {
	height: auto;
}

#main div {
	display: inline-block;
	vertical-align: top;
}

#footer {
	clear:both;
}