body {
	background-color: black;
}
div {
	margin: 0 auto;
	background-color: #36BBCE;
	border: 1px solid black;
	border-radius: 20px;
	padding: 20px;
	height: auto;
}

#nav {
	text-align: center;
}

#nav li {
	font-family: Garamond bold;
	font-size: 25px;
	display: inline;
	list-style: none;
	padding: 30px;
	height: 100px;
}

#main {
	height: auto;
}

#main div {
	display: inline-block;
	vertical-align: top;	
}

#footer {
	clear:both;
}